body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.container{
    text-align: center;

}
.container h3{
    background-color: rgb(49, 3, 108);
    color: rgb(165, 42, 42);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
.color{
    font-weight: bold;
    font-size: 20px;
    color: rgb(27, 15, 100);
    
}
.btn {
    font-weight: bold;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    background-color: aquamarine;

}
.btn:hover{
    background-color: azure;
    transition: all 0.3s;
    font-size: 15px;
    font-weight: bold;
    padding: 7px;
    cursor: pointer;
    color: rgb(245, 5, 5)
    
}
